body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(255, 255, 255);
}
div {
    background-color: rgb(51, 3, 3);
    height: 138px;
}
button{
    font: normal 20pt Arial;
    position: absolute; left: 33px; top: 100px;    
}
h1{
    position: absolute; left: 33px;
    color: white;
}
#fundo {
    background-color: rgb(255, 255, 255);
    height: 710px;
}
#customi {
    background-color: rgb(51, 3, 3);
    height: 120px;
}
#linkzao {
    position: absolute; 
    left: 120px; 
    top: 790px; 
    font: normal 15pt Arial;
}
#next {
    position: absolute; 
    left: 188px; top: 710px; 
    width: 155px; height: 40px;
    background-color: rgb(51, 3, 3);
    color:rgb(255, 255, 255);
    font: normal 25pt Arial;
}
#back {
    background-color: rgb(51, 3, 3);
    color:rgb(255, 255, 255);
    position: absolute; left: 33px; top: 710px; width:155px; height:40px;
    font: normal 25pt Arial;
}
#imagem {
    position: absolute; left: 33px; top: 260px; width:310px; height:450px;
}
#pesq {
    position: absolute; left: 33px; top: 220px;
    border-radius: 10px;
    height: 24px;
    border-color: black;
}
#btn {
    background-color: rgb(51, 3, 3);
    color:rgb(255, 255, 255);
    border-radius:  10px;
    position: absolute; left: 225px; top: 220px;
    width: 90px;
    height: 24px;

}
#a {
    border-radius: 10px;
    color: black;
    background-color: white;
    font: normal 20pt Arial;
}